//FONTS & SIZES
$family: 'Spartan', sans-serif;

//COLORS
$colorOne: #7c5dfa;
$colorTwo: #9277ff;
$colorThree: #1e2139;
$colorFour: #252945;
$colorFive: #dfe3fa;
$colorSix: #888eb0;
$colorSeven: #7e88c3;
$colorEight: #0c0e16;
$colorNine: #ec5757;
$colorTen: #ff9797;
$colorEleven: #f8f8fb;
$colorTwelve: #141625;
$borderColorOne: rgba(255, 255, 255, 0.1);

//BORDERS & RADIUS COMMONS
$common2: 2px;
$common20: 20px;
$common32: 32px;
$common40: 40px;
$common72: 72px;
$common80: 80px;

//Responsivnes & BreakPoints

$breakPoint850: 850px;
$breakPoint500: 500px;